# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AR_Adventskalender_Project.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dieter\dev\AR_Adventskalender\AR_Adventskalender_Project\.idea\.idea.AR_Adventskalender_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
